@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

.main.content {
  line-height: 1.85;
}

p,
.air-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.air-h1,
h2,
.air-h2,
h3,
.air-h3,
h4,
.air-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.air-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.air-h2 {
  font-size: 2.827rem;
}

h3,
.air-h3 {
  font-size: 1.999rem;
}

h4,
.air-h4 {
  font-size: 1.414rem;
}

h5,
.air-h5 {
  font-size: 1.121rem;
}

h6,
.air-h6 {
  font-size: .88rem;
}

small,
.air-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

body {
  margin: 0;
}

.wrapper {
  overflow:auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 8vh;
  max-width: 700px;
  min-wdith: 350px;
  margin: auto;
}
img {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}


a:hover,
a:focus,
a:active {
  color: #2980b9;
}

pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
  font-size: x-small;
}

blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}

ul,
ol,
li {
  text-align: left;
}

p {
  color: #777;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
.button4:hover {background-color: #e7e7e7;}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: auto;
}

.container {
  width: 100%;
  display: flex;
}

.midLign {
  vertical-align: middle;
}
.container > .button,.input {
}


.column,
.columns {
  margin-left: 4%; 
  float: left;
}
.column:first-child,
.columns:first-child {
  margin-left: 0; }
.floatRight {
  float:right;
  position:static;
}

.scrolltext {
  overflow:scroll;
  height: min-content;
  max-height: 80%;
  float:none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

header {
  font-size: 1.5rem;
  text-align: left;
  padding: 0.25rem;
  border-top: 4px solid black;
  border-bottom: 1px solid #e8e8e8;
  display: inline-block;
  width: 100%;
}

.main.content {
  line-height: 1.85;
  color: #444;
  font-family: Segoe UI Regular;
  font-weight: 200;
  padding: 1vh 9vh;
  margin: 0rem auto;
  text-align: center;
  max-width: 700px;
  min-width: 350px;
}
.site.title {
  color: #424242;
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1px;
  float: left;
  line-height: 1.5rem;
  text-decoration: none;
  font-family: Segoe UI Regular;
}

.site.title:hover {
  text-decoration: underline;
}

.justifyCenter {
  display: flex;
  justify-content: center
}
.one.column,
.one.columns                    { width: 4.66666666667%; }
.two.columns                    { width: 13.3333333333%; }
.three.columns                  { width: 22%;            }
.four.columns                   { width: 30.6666666667%; }
.five.columns                   { width: 39.3333333333%; }
.six.columns                    { width: 48%;            }
.seven.columns                  { width: 56.6666666667%; }
.eight.columns                  { width: 65.3333333333%; }
.nine.columns                   { width: 74.0%;          }
.ten.columns                    { width: 82.6666666667%; }
.eleven.columns                 { width: 91.3333333333%; }
.twelve.columns                 { width: 100%; margin-left: 0;}

