<html>
    <head>
      <title>Testing Website</title>
      <link rel="stylesheet" href="{{url_for('static', filename = 'air.css')}}">
    </head>
    <body>
      <header>
        <div class = "wrapper"> 
          <a class = "site title" href = '{{url_for('server.home')}}'>Home Page</a>
          <button class = 'button button4 floatRight midLign' onclick = "location.href = '{{url_for('auth_bp.authorize')}}'">
            {% if session.get('signedin') %}
              Sign out
            {% else %}
              Sign in with Google
            {% endif %}
          </button>
        </div>
      </header>
      <div class = "main content">
        {% block content %}
        
        {% endblock %}
      </div>
    </body>
</html>
